menu "Robot Hardware"

config ESP32_DEV_BOARD_VERSION
    string "Development Board Model"
    default "esp32_adafruit.h"
    help
        The hardware works across different versions of the ESP32 development board. Depending on the dev board the pins are different.
        Choose from either esp32_adafruit.h or esp32_doit_am.h

endmenu
